@use "../config/color.scss";
@use "../config/mixins.scss";
@use "../config/media.scss";


.card {
	width: 100%;
	padding: 2rem;
	border: 1px solid black;
	border-radius: 0.625rem;
	background-color: color.$lightblue;

	&__details {
		font-size: 1.8rem;
		color: color.$black;
	}

	&__title {
		margin: 2rem 2rem 3rem 4rem;
		font-size: 2.4rem;
	}

	&__description {
		margin-bottom: 2rem;
	}

	&__user {
		margin-bottom: 1rem;
	}

	&__buttons {
		display: flex;
		justify-content: flex-end;
	}

	&__button {
		max-width: 100%;
		font-size: 1.4rem;
		font-weight: 900;
		text-transform: uppercase;
		color: color.$black;
		border-radius: 0.5rem;
		cursor: pointer;
	}

	&__button--edit {
		background: color.$gradient;
	}

	&__button--delete {
		background: color.$gradient;
		margin-right: 1.5rem;
	}

	&__time {
		margin: 0 auto;
		font-size: 1.8rem;
		text-align: end;
		color: color.$black;
	}

	&--todo {
		background-color: color.$grey;
	}

	&--in-progress {
		background-color: color.$grey;
	}

	&--completed {
		background-color: color.$grey;
	}

	&--dragged {
		background: color.$blue;
	}
}