@use "../config/color.scss";
@use "../config/mixins.scss";
@use "../config/media.scss";
@use "../config/base.scss";

.column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-shrink: 0;
	gap: 2rem;
	width: 30%;
	max-height: 85vh;
	margin: 0 0 auto;
	border-radius: 10px;
	background: color.$grey;

	@include media.lg {
		width: 55rem;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 1rem 4rem;
	}

	&__title {
		font-size: 2.4rem;
		font-weight: 600;
		color: color.$darkgrey;
		opacity: 0.8;
	}

	&__counter {
		font-size: 2.4rem;
		font-weight: 600;
		color: color.$darkgrey;
		opacity: 0.8;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		max-height: 80vh;
		width: 80%;
		margin: 1rem auto;
		padding: 2rem;
		overflow-y: auto;
		overflow-x: hidden;
		font-size: 2rem;
		font-weight: 600;
		opacity: 0.8;
	}

	&__content::-webkit-scrollbar {
		width: 1rem;

	}

	&__content::-webkit-scrollbar-track {
		background: color.$blue;

	}

	&__content::-webkit-scrollbar-thumb {
		background: color.$richblack;
	}

	&__content::-webkit-scrollbar-thumb:hover {
		background: color.$black;
	}

	&__button--add {

		@include mixins.button(color.$blue, color.$white);

		&:hover {
			@include mixins.button(color.$darkblue, color.$white);
		}

		&:active {
			@include mixins.button(color.$darkblue, color.$white);
			box-shadow: inset 0px 0px 10px #00252A;
		}
	}

	&__button--delete {

		@include mixins.button(color.$black, color.$white);

		&:hover {
			@include mixins.button(color.$richblack, color.$white);
		}

		&:active {
			@include mixins.button(color.$richblack, color.$white);
			box-shadow: inset 0px 0px 10px #5F5E5E;
		}
	}
}