@use "../config/colors.scss";
@use "../config/templates.scss";
@use "../config/mixins.scss";


body {
	background: linear-gradient(109.17deg, #126A85 1.08%, #9B34A5 115.97%);
	height: 100vh;
}

.desk {
	max-height: 80vh;
	display: flex;
	justify-content: space-between;
	padding: 5rem 5rem;
	gap: 5rem;
}

.desk::-webkit-scrollbar {
	width: 1rem;
	
}

.desk::-webkit-scrollbar-track {
	background: colors.$colorBlue;

}

.desk::-webkit-scrollbar-thumb {
	background: colors.$colorRichBlack;
}

.desk::-webkit-scrollbar-thumb:hover {
	background: colors.$colorBlack;
}

.desk__column {
	max-height: 90%;
	width: 60rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	flex-shrink: 0;
	gap: 4rem;
	background: colors.$colorGrey;
	border-radius: 10px;
}

.column__header {
	box-sizing: border-box;
	width: 100%;
	padding: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.column__title {
	font-weight: 600;
	font-size: 2.8rem;
	color: colors.$colorDarkGrey;
	opacity: 0.8;
}

.column__counter {
	font-weight: 600;
	font-size: 2.8rem;
	color: colors.$colorDarkGrey;
	opacity: 0.8;
}

.column__content {
	max-height: 80%;
	width: 80%;
	margin: 1rem auto;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 5rem;
	overflow-y: auto;
	overflow-x: hidden;
	font-weight: 600;
	font-size: 2.8rem;
	opacity: 0.8;
}

.column__content::-webkit-scrollbar {
	width: 1rem;
	
}

.column__content::-webkit-scrollbar-track {
	background: colors.$colorBlue;

}

.column__content::-webkit-scrollbar-thumb {
	background: colors.$colorRichBlack;
}

.column__content::-webkit-scrollbar-thumb:hover {
	background: colors.$colorBlack;
}

.card {
	border: 2px solid black;
}

#btn-add-todo {
	@include mixins.columnBtn(colors.$colorBlue, colors.$colorWhite);
}

#btn-add-todo:hover {
	@include mixins.columnBtn(colors.$colorDarkBlue, colors.$colorWhite);
}

#btn-add-todo:active {
	@include mixins.columnBtn(colors.$colorDarkBlue, colors.$colorWhite);
	box-shadow: inset 0px 0px 10px #00252A;
}

#btn-delete-all {
	@include mixins.columnBtn(colors.$colorBlack, colors.$colorWhite);
}

#btn-delete-all:hover {
	@include mixins.columnBtn(colors.$colorRichBlack, colors.$colorWhite);
}

#btn-delete-all:active {
	@include mixins.columnBtn(colors.$colorRichBlack, colors.$colorWhite);
	box-shadow: inset 0px 0px 10px #5F5E5E;
}


/* media queries */

@media (max-width: 1950px) {
	.desk {
		flex-wrap: nowrap;
		overflow-y: hidden;
		overflow-x: auto;
	}
}


@media (max-width: 1350px) {

	html {
		font-size: 7px;
	}
}

@media (max-width: 950px) {

	html {
		font-size: 5px;
	}
}
