@use "../config/colors.scss";
@use "../config/templates.scss";
@use "../config/mixins.scss";


body {
	background: linear-gradient(109.17deg, #126A85 1.08%, #9B34A5 115.97%);
}

.desk {
	display: flex;
	justify-content: space-between;
	padding: 30px 100px;
}

.desk__column {
	min-width: 25%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
	background: colors.$colorGrey;
	border-radius: 10px;
}

.column__header {
	box-sizing: border-box;
	width: 100%;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.column__title {
	font-weight: 600;
	font-size: 28px;
	color: colors.$colorDarkGrey;
	opacity: 0.8;
}
.column__counter {
	font-weight: 600;
	font-size: 28px;
	color: colors.$colorDarkGrey;
	opacity: 0.8;
}
.column__content {
	padding: 30px;
}

#btn-add-todo {
	@include mixins.columnBtn(colors.$colorBlue, colors.$colorWhite);
}

#btn-add-todo:hover {
	@include mixins.columnBtn(colors.$colorDarkBlue, colors.$colorWhite);
}

#btn-add-todo:active {
	@include mixins.columnBtn(colors.$colorDarkBlue, colors.$colorWhite);
	box-shadow: inset 0px 0px 10px #00252A;
}

#btn-delete-all {
	@include mixins.columnBtn(colors.$colorBlack, colors.$colorWhite);
}

#btn-delete-all:hover {
	@include mixins.columnBtn(colors.$colorRichBlack, colors.$colorWhite);
}

#btn-delete-all:active {
	@include mixins.columnBtn(colors.$colorRichBlack, colors.$colorWhite);
	box-shadow: inset 0px 0px 10px #5F5E5E;
}


/* media queries */

@media (max-width: 1000px) {

	.desk {
		flex-direction: column;
		gap: 20px;  
	}
}
