@use "../config/color.scss";

/* styles */

.header {
	max-width: 100%;
	padding: 2rem;
	display: flex;
	box-shadow: 0px 5px 5px;
	justify-content: space-between;
	background: rgba(0, 0, 0, 0.7);

	&__title {
		margin: 0;
		font-weight: 600;
		font-size: 2.4rem;
		text-align: left;
		color: color.$white;
	}

	&__clock {
		display: flex;
		align-items: center;
		font-weight: 600;
		font-size: 2.4rem;
		text-align: left;
		color: color.$white;
	}
}