@use "../config/media.scss";

body {
	background: linear-gradient(109.17deg, #126A85 1.08%, #9B34A5 115.97%);
	font-family: sans-serif;
}

.wrapper {
	height: 100vh;
	max-width: 1920px;
}


html {
	@include media.lg {
		font-size: 7px;
	}

	@include media.md {
		font-size: 5px;
	}
}