$color_pink: #FFB9B9;
$color_tomato: #9E2B25;
$color_blue: #005C69;
$color_darkblue: #004049;
$color_purple: #5E0035;
$color_orange: #FFC48D;
$color_yellow: #FFED8F;
$color_grey: #F3F5F6;
$color_darkgrey: #313131;
$color_white: #FFFFFF;
$color_black: #222222;
$color_richblack: #050505;
$color_lightblue: #3c6fd571;
$color_gradient: linear-gradient(109.17deg, #392dde64 1.08%, #f40f395c 115.97%);
$color_lightviolet: #a450e04c;
$color_powderpink: #fc1e1e4c;
$color_aquamarine: #0fc7f14c;
$color_coral: #ff00089c;
$color_lightviolet: #4b0ddca1;