$color_pink: #FFB9B9;
$color_tomato: #9E2B25;
$color_blue: #005C69;
$color_darkblue: #004049;
$color_purple: #5E0035;
$color_orange: #FFC48D;
$color_yellow: #FFED8F;
$color_grey: #F3F5F6;
$color_darkgrey: #313131;
$color_white: #FFFFFF;
$color_black: #222222;
$color_richblack: #050505;


