$pink: #FFB9B9;
$tomato: #9E2B25;
$blue: #005C69;
$darkblue: #004049;
$purple: #5E0035;
$orange: #FFC48D;
$yellow: #FFED8F;
$grey: #F3F5F6;
$darkgrey: #313131;
$white: #FFFFFF;
$black: #222222;
$richblack: #050505;
$lightblue: #3C6FD571;
$gradient: linear-gradient(109.17deg, #392DDE64 1.08%, #F40F395C 115.97%);
$lightviolet: #A450E04C;
$powderpink: #FC1E1E4C;
$aquamarine: #0FC7F14C;
$coral: #FF00089C;
$violet: #4B0DDCA1;