@use "./colors.scss";

/* templates for task status labels */

%statusLabelCritical {
	padding: 8px 20px;
	background: colors.$colorPink;
	border-radius: 9px;
}

%statusLabelHigh {
	padding: 8px 20px;
	background: colors.$colorOrange;
	border-radius: 9px;
}

%statusLabelMedium {
	padding: 8px 20px;
	background: colors.$colorYellow;
	border-radius: 9px;
}

%statusLabelLow {
	padding: 8px 20px;
	background: colors.$colorGrey;
	border-radius: 9px;
}

